:root{

    --backr_color-menu: rgb(128, 24, 79);
    --cell_butt_text-color: white;
    
    --cell_width_glav: 350px;

    /* --font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    --font: Verdana, Arial, Helvetica, sans-serif;
}
  
.button_cell, .button_cell:visited {

  text-decoration-line: none;
  color: var(--cell_butt_text-color);
  background-color: var(--backr_color-menu);
  border: 9px solid var(--backr_color-menu); /*+*/
  text-align: left;
  width: auto;  /*+*/
  display: inline-block;
  font-family: var(--font);
  font-size: 20pt; /*+*/
  line-height: normal; /*+*/
}
  
.img_button_cell{

  vertical-align: middle;
  display: inline-block;
  height: 26px;
  margin-right: 10px;

}
.menu_butts, .menu_butts li {
  list-style: none;
  display: inline;            /*+*/
  /* width: 300%; */
  left:0px; /*+*/
  
}

.menu_butts > .makrosi{

  position: absolute;
  
}
.makrosi li .button_cell{
  max-width: 250px; /*+*/
  display: none;
  /* position: absolute; */
  /* line-height: normal; */ 
  /* vertical-align: top;  */


}
.makrosi{/*+*/
  position: static; /*+*/
  /* margin-left:auto; */
  left: 275px; /*+*/
}/*+*/


.menu_butts li:hover > .makrosi li .button_cell{
  display: block;
}



#but_android, #but_win{

  display: none;
}



/* Конец стиля меню  */



.left_menu > tbody > tr > td {

    background-color: var(--backr_color-menu);
    width: 100%; /*+*/
    display: inline-block; /*+*/
}

.left_menu, #left_menu_td {
    background-color: var(--backr_color-menu);
    color: var(--cell_butt_text-color);
}


#background{
    height: 100px;
    font-family: var(--font);
}

#background > p{
  font-family: var(--font);
  margin-left: 100px;
  vertical-align: bottom;
  font-size: 25px;
}

#left_menu_td, #contents{

  vertical-align: top;
  
}

.left_menu > tbody > tr >td> hr{

  border: 1px solid var(--cell_butt_text-color);
  margin: 30px 20px;

  width: 94%; /*+*/
  display: inline-block;
}

#contents{
  /* position: relative; + */
  margin: auto;
  height: 2000px;  /*+*/
  background-color: #0072a3;
  width: 100%;
}
#div_contents{
  position: absolute;  /*+*/
  text-align: justify;
  width: 92%; /*+*/
  height: 100%; /*+*/
  margin: auto 30px;
  color: var(--cell_butt_text-color);
  font-family: var(--font);

}
#div_contents > h1{
  text-align: center;
}

#div_contents > img{
  margin: 10px auto;
  display: block;
}

body{
  margin: 0px;
  left: 0;
  padding: 0px;
  background-color: white;
}

#end_sait{
  background-color: var(--backr_color-menu);
  color: var(--cell_butt_text-color);
  font-family: var(--font);
  font-size: 12px;
  text-align: right;
}
#end_sait > hr{
  border: 1px solid var(--cell_butt_text-color);
  margin: 5px 5px;
  width: 100%;
}

#fixed_copy > td{
  position: sticky;
  bottom: 0;
  width: 100%;
}

.div_menu{
  margin: 0px;/*+*/
  width: 100%;/*+*/
  height: auto;
  /* display: inline-block; */
}

.menu_butts{

  display: block;/*+*/

}
.div_menu > tbody> tr>td{
  display: inline-block; /*+*/
  width: 100%; /*+*/
}
