#left_menu_td, #contents{

  vertical-align: top;
  
  display: table-row;
}

#div_contents > img{
  margin: 50px auto;
  display: block;
  width: 90%;
}

.download_table > tbody > tr >td, .download_table > tbody > tr >th{
  text-align: center;
  font-size: 5pt;
}