@font-face {
    font-family: "ER Univers 1251";
    src: url("ER\ Univers\ 1251.ttf") format("truetype");
    src: url("ERUnivers1251-Normal.woff") format("woff");
    src: url("ERUnivers1251-Normal.woff2") format("woff2");
}