/* #0C910F */

#contents,#forma_auth{
    background-color: #0C910F;
    width: 100%;
  }
  
.spisok_skript {
  color: white;
  text-decoration: none;
}

.download_table > tbody > tr >td, .download_table > tbody > tr >th{
  text-align: center;
  font-size: 8pt;
}

.download_table, .download_table > tbody > tr > td, .download_table > tbody > tr > th{
  border: 0.6px rgb(15, 18, 182) solid;
}

#code_window_git{
/* display: none; */
}

#github_but{
  cursor: pointer;
}
#icons_lang{
  width: 35px;
  height: 15px;
  vertical-align: middle;
  margin-left: 3px;
}
